:root {
  --Blue: hsl(246, 80%, 60%);
  --Light-red: hsl(15, 100%, 70%);
  --Soft-blue: hsl(195, 74%, 62%);
  --Light-red: hsl(348, 100%, 68%);
  --Lime-green: hsl(145, 58%, 55%);
  --Violet: hsl(264, 64%, 52%);
  --Soft-orange: hsl(43, 84%, 65%);
  --Very-dark-blue: hsl(226, 43%, 10%);
  --Dark-blue: hsl(235, 46%, 20%);
  --Desaturated-blue: hsl(235, 45%, 61%);
  --Pale-Blue: hsl(236, 100%, 87%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

body {
  background-color: var(--Very-dark-blue);
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.cards__wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.first-card {
  background-color: hsl(235, 46%, 20%);
  border-radius: 1.6rem;
  width: 100%;
  /* margin-bottom: 20px; */
}

.cards-report {
  background-color: hsl(246, 80%, 60%);
  border-radius: 1.6rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.jeremy-img {
  width: 23%;
  border: 3px solid white;
  border-radius: 50%;
  margin-left: 20px;
  margin-right: 20px;
}

.report {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 30px 0px;
}

.report-paragraph {
  font-size: 13px;
  padding: 13px 0px;
  color: hsl(236, 100%, 87%);
}

.jeremy-name {
  font-size: 23px;
  font-weight: 300;
  color: white;
  position: relative;
  bottom: 10px;
  width: 20%;
}

.firstcard-periods {
  display: flex;
  justify-content: space-between;
  padding: 18px;
}

.period-list {
  color: hsl(235, 45%, 61%);
  font-size: 18px;
  font-weight: 100;
  display: flex;
  border-style: none;
  background: transparent;
}

.period-active {
  color: white;
}

.period-list:hover {
  color: white;
}

/* -----------------------second card----------------------- */

.work {
  background-color: hsl(235, 46%, 20%);
  border-radius: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.work:hover {
  background-color: hsl(235, 45%, 45%);
}

.title {
  color: white;
  font-size: 18px;
  padding: 34px 0px 0px 25px;
  font-weight: 400;
}

.dots {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.dot:hover {
  background-color: white;
}

.icon-ellipsis {
  position: relative;
  top: 20px;
  right: 20px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 15px;
}

.row-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 40px;
  margin: 13px;
}

.hrs {
  color: white;
  font-size: 2rem;
  font-weight: 300;
  padding-left: 13px;
}

.description {
  color: hsl(236, 100%, 87%);
  font-size: 13px;
  margin-right: 20px;
}

/* -------------------play card-------------------------- */

.card-item {
  border-radius: 1.6rem;
  width: 100%;
  background-repeat: no-repeat;
  background-position: top;
  background-position-x: 98%;
  background-position-y: -7%;
  height: 189px;
  display: flex;
  align-items: flex-end;
}

.card-item--play {
  background-image: url(../images/icon-play.svg);
  background-color: hsl(195, 74%, 62%);
}

.card-item--work {
  background-color: hsl(15, 100%, 70%);
  background-image: url(../images/icon-work.svg);
}

.card-item--study {
  background-image: url(../images/icon-study.svg);
  background-color: hsl(348, 100%, 68%);
}

.card-item--exercise {
  background-color: hsl(145, 58%, 55%);
  background-image: url(../images/icon-exercise.svg);
}

.card-item--social {
  background-color: hsl(264, 64%, 52%);
  background-image: url(../images/icon-social.svg);
}

.card-item--self {
  background-color: hsl(43, 84%, 65%);
  background-image: url(../images/icon-self-care.svg);
}

/* ==============================Desktop view======================================== */

@media (min-width: 768px) {
  body {
    height: 100vh;
    display: flex;
    align-items: center;
  }
  
  .wrapper {
    width: 1140px;
    margin: 0 auto;
    flex-direction: row;
    column-gap: 2rem;
    row-gap: unset;
  }

  .first-card {
    height: 30rem;
    width: 25%;
  }

  .cards__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    width: 75%;
  }

  .card-item {
    width: calc(33.3% - 1.35rem);
    height: calc(50% - 1rem);
  }

  .jeremy-img {
    width: 40%;
    position: relative;
    top: 20px;
    right: 40px;
  }

  .report {
    padding-left: 20px;
  }

  .period-list {
    font-size: 15px;
    cursor: pointer;
  }

  .jeremy-name {
    font-size: 30px;
  }

  .report-paragraph {
    font-size: 12px;
  }

  .firstcard-periods {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
  }

  .cards-report {
    height: 18rem;
    display: flex;
    flex-direction: column;
  }

  .first-card:hover {
    opacity: 0.9;
  }

  .row {
    display: flex;
    justify-content: space-between;
  }

  .row-2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  .hrs {
    font-size: 36px;
    padding-left: 10px;
    padding-bottom: 5px;
    letter-spacing: 2px;
  }

  .description {
    padding-left: 10px;
  }

  .icon-ellipsis {
    margin-bottom: 14px;
  }

  .title {
    font-size: 15px;
  }
}
